@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

:root {
    --gnb_height: 64px;
    --inner_width: 1700px;
    --font: "SUIT", sans-serif;
    --font_size: 18px;
    --text_color: #000;
    --inactive_opacity: 0.45;
}

header {
    width: 100%;
    height: var(--gnb_height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header .inner {
    width: var(--inner_width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    font-size: var(--font_size);
}

header nav {
    height: 100%;
}

.gnb_tit {
    display: flex;
    height: 100%;
    gap: 50px;
    align-items: center;
}

/* 기본: 모두 연한 색 (기본은 진한 색 X) */
.gnb_tit li {
    height: 100%;
}

.gnb_tit li a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    position: relative;
    color: var(--text_color);
    text-decoration: none;
    opacity: var(--inactive_opacity);
    transition: opacity 0.25s ease;
    user-select: none;
}

.gnb_tit li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 0.25s ease;
}

.gnb_tit li:hover a::after {
    transform: scale(1);
}

.gnb_tit li.on a {
    opacity: 1;
}

.ham_menu i {
    font-size: 24px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;

}

.mobile_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #ccc;
    display: none;
}

main {
    position: relative;
    padding-top: var(--gnb_height);
}

main>section {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
}



.hero {
    width: 100%;
    height: 100vh;
    padding-top: 140px;
    font-family: "SUIT", sans-serif;
    position: relative;
    overflow: hidden;
}


.hero_inner {
    position: relative;
    max-width: 1173px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}


/* UX/UI DESIGNER */
.hero_role {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}


/* PORTFOLIO */
.hero_title {
    font-size: 200px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 2px;
}

.hero_bg {
    position: absolute;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0; */
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.hero_svg {
    width: 160%;
    max-width: none;
    margin-left: -10%;
    padding-bottom: 150px;
}


.rotate_logo {
    position: absolute;
    right: 110px;
    bottom: 150px;

    width: 130px;
    height: 128px;
    z-index: 3;

    pointer-events: none;
    animation: rotate360 18s linear infinite;
    transform-origin: center center;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 스크롤 내려가면 사라지는 처리 */
.rotate_logo_hidden {
    opacity: 0;
    transition: opacity .6s ease;
}




.object_page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.object_inner {
    position: relative;
    width: 1700px;
    height: 950px;
    overflow: hidden;
}

/* 공통 오브젝트 */
.obj {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
}

.obj_key {
    left: -54px;
    top: -37px;
}

.obj_dessert {
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

.obj_bread {
    left: 1329px;
    top: 10px;
}

.obj_earphone {
    left: 155px;
    top: 513px;
}

.obj_skillset {
    left: 1150px;
    top: 510px;
}





#projects {
    position: relative;
    color: yellowgreen;
    display: flex;
    width: 300vw;
}

#projects h2 {
    position: absolute;
    left: 0;
    top: 100px;
}

#projects svg {
    position: absolute;
    left: 0;
    top: 0;
}

.hItem {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    flex-shrink: 0;
}

.hItem h3 {
    font-size: 5vw;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: "Lato";
    font-weight: 100;
    z-index: 100;
}