@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gnb_height: 64px;
    --inner_width: 1700px;
    --font: "SUIT", sans-serif;
    --font_size: 18px;
    --text_color: #000;
    --inactive_opacity: 0.45;
}

header {
    width: 100%;
    height: var(--gnb_height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header .inner {
    width: var(--inner_width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    font-size: var(--font_size);
}

header nav {
    height: 100%;
}

.gnb_tit {
    display: flex;
    height: 100%;
    gap: 50px;
    align-items: center;
}

/* 기본: 모두 연한 색 (기본은 진한 색 X) */
.gnb_tit li {
    height: 100%;
}

.gnb_tit li a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    position: relative;
    color: var(--text_color);
    text-decoration: none;
    opacity: var(--inactive_opacity);
    transition: opacity 0.25s ease;
    user-select: none;
}

.gnb_tit li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 0.25s ease;
}

.gnb_tit li:hover a::after {
    transform: scale(1);
}

.gnb_tit li.on a {
    opacity: 1;
}

.ham_menu i {
    font-size: 24px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;

}

.mobile_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #ccc;
    display: none;
}

main {
    position: relative;
    padding-top: var(--gnb_height);
}

main>section {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
}

#projects {
    position: relative;
    color: yellowgreen;
    display: flex;
    width: 300vw;
}

#projects h2 {
    position: absolute;
    left: 0;
    top: 100px;
}

#projects svg {
    position: absolute;
    left: 0;
    top: 0;
}

.hItem {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    flex-shrink: 0;
}

.hItem h3 {
    font-size: 5vw;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: "Lato";
    font-weight: 100;
    z-index: 100;
}